<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_wmale_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{60,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{435,1},{60,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{78,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{71,1},{78,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{70,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{571,1},{70,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{64,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{303,1},{64,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-9}</string>
                <key>spriteSize</key>
                <string>{68,110}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-11}</string>
                <key>spriteSize</key>
                <string>{78,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{223,1},{78,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{72,104}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{497,1},{72,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{64,106}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{369,1},{64,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_wmale_walk71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-10}</string>
                <key>spriteSize</key>
                <string>{70,108}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{151,1},{70,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_wmale_walk1.png</string>
            <key>size</key>
            <string>{642,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff978b6370b70c7bf592f85149f208b0:a68e1d8230cada064d6596762ba2cde7:6b7444ac2dde72b08292f55fc44b52a1$</string>
            <key>textureFileName</key>
            <string>character_wmale_walk1.png</string>
        </dict>
    </dict>
</plist>
