<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_robot_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{68,92}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{87,1},{68,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_robot_jump.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-16}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_robot_Jump.png</string>
            <key>size</key>
            <string>{156,98}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a130befde8f1ecb7d017233b1abf200:49d9e98fe39131fe8b85587882167c1f:96f1ee427ef2f548cf9657ab568d3c8f$</string>
            <key>textureFileName</key>
            <string>character_robot_Jump.png</string>
        </dict>
    </dict>
</plist>
